.updated {
	position: absolute;
	right: 0;
	font-size: 65%;
	padding-top: 0.25em;
	opacity: .25;
}
.list-views .suffix {
	margin-left: 0.67em;
	color: gray;
}

.friends ul,
.clubs ul,
.basic ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.friends a,
.clubs a {
	position: relative;
	font-size: 120%;
	line-height: 1.75em;
}
.friends ul li,
.clubs ul li {
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
	float: left;
	text-align: center;
	width: 50%;
}

.user-pic a {
	float: right;
	font-size: 0;
	line-height: 0;
	margin: 0;
	padding: 0;
}
.user-pic img {
	box-shadow: 0 0 2px rgba(96,96,96,0.5) inset;
	border-radius: 4px;
	padding: 0;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.6);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	height: 200px;
}
.user-pic img.unavailable {
	background-image: url('../img/anon.png');
}

.left {
	width: 50%;
	text-align: center;
	float: left;
}
.right {
	width: 50%;
	text-align: center;
	float: right;
}

p.number {
	font-size: 110%;
	vertical-align: middle;
}
p.number span {
	font-size: 150%;
	padding-left: 1em;
	display: inline-block;
	vertical-align: middle;
}
.bar {
	background: #eee;
	height: 3px;
	width: 12em;
	margin: 0.5em auto;
	position: relative;
}
.bar .filled {
	background: #5B94DA;
	height: 3px;
}
.bar .tick {
	position: absolute;
	width: 1px;
	height: 9px;
	top: -3px;
	background: black;
}

.friends,
.clubs,
.mini-section {
	margin-bottom: 2.5em;
}
.list-views .bar {
	background: #EBA478;
}
.list-views .anime {
	color: #5B94DA;
}
.list-views .manga {
	color: #EBA478;
}

ol li {
	margin-bottom: 1em;
}
